<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="fragmentHead">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Spring Boot Thymeleaf Hello World Example</title>

  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <script type="text/javascript" th:src="@{js/jquery-3.4.0.min.js}"></script>
  
</head>

</html>